/* About Section */
.font-size {
    font-size: 20px;
}

/* Small screens (phones) */
@media (max-width: 576px) {
    .font-size {
        font-size: 15px;
    }
    img {
        max-width: 100%;
    }
}

.choose-section {
    border-radius: 10px;
    margin-top: 50px !important;
    text-align: center;
}

.choose-title,
.about-title {
    font-size: 31px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    animation: fadeInDown 1s ease-in-out;
}

.choose-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 12px;
    gap: 20px;

}

.choose-card {
    color: black;
    min-width: 32%;
    max-width: 32%;
    height: 180px;
    border: 1px solid;
    background-color: #68584d;
    background: linear-gradient(to top left ,#356869, #f0dca7);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    padding: 12px;
    border-radius: 12px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    animation: slideUp 0.8s ease-in-out;
}

.choose-card h1 {
    margin: 15px 0 10px;
    font-size: 35px;
}

.choose-card h4 {    
    margin: 15px 0 10px;
    font-size: 22px;
}

.choose-card p {
    font-size: 16px;
    color: #4b4b4b;
}

/* Hover Effects */
.choose-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

/* Responsive Layout */
/* For medium screens: 2 cards per row */
@media (max-width: 992px) {
    .choose-card {
        min-width: 48%;
        max-width: 48%;
    }
}

/* For small screens: 1 card per row */
@media (max-width: 768px) {
    .choose-card {
        min-width: 100%;
        max-width: 100%;
    }
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.about-section {
    background: linear-gradient(to top left ,#356869, #f0dca7);
    border-radius: 10px;
}

.about-subtitle {
    font-size: 25px;
    animation: fadeInUp 1s ease-in-out;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 20px;
}
/* Keyframes for fadeInUp Animation */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/* Animation classes */
.slide-in-left {
    animation: slideInLeft 1s ease-in-out forwards;
}

.slide-in-right {
    animation: slideInRight 1s ease-in-out forwards;
}

/* New Animations */
@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

