/* Events Section */
.events {
    text-align: center;
}

/* Filter Buttons */
.btn-filter {
    background: #f0dca7;
    color: black;
    margin: 5px;
    padding: 12px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 20px;
}

.btn-filter:hover, .btn-filter.active {
    background: #c4b384;
    color: white;
    transform: scale(1.1);
    box-shadow: none;
}

/* Event Cards */
.card {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease,box-shadow 0.3s ease;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}
.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.btn-primary {
    background: #f0dca7;
    border: none;
    font-size: 18px;
    border-radius: 20px;
    width: 100%;
    color: #000;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
}
.btn-primary:hover {
    background: #c4b384;
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}
/* Responsive */
@media (max-width: 992px) {
    .event-card {
        width: 48%;
        margin-bottom: 20px;
    }
}
@media (max-width: 768px) {
    .event-card {
        width: 100%;
        margin-bottom: 20px;
    }
}
