/* Global Styles */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    margin: 0;
    padding: 0;
}

/* Navbar Styling */
.navbar {
    background: #174e4ff9;
    padding: 15px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.navbar-brand span {
    font-size: 24px;
    font-weight: bold;
}

.navbar-nav .nav-link {
    font-size: 18px;
}

/* Hover Effect for Links */
.navbar-nav .nav-link:hover {
    background-color: #333; 
    border-radius: 5px; 
}

/* Active Link Style */
.nav-link.active {
    color: #FFD700 !important; 
    font-weight:800;
    border-bottom: 3px solid #FF7043; 
}


/* Navbar Shrinks on Scroll */


footer {
    background: #0f3333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.logo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}    

#back-to-top{
    display: none;
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 3%;
    bottom: 3%;
    position: fixed;
    font-size: 28px;
}   