/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

/* Navbar Styling */
.navbar {
    background: linear-gradient(145deg ,#181818,#474747bb );
    /* background: linear-gradient(80deg ,#0d002d,#282828e7 ); */
    padding: 15px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.navbar-brand span {
    font-size: 24px;
    font-weight: bold;
    color: #FFD700;
}

.navbar-nav .nav-link {
    font-size: 18px;
}

/* Hover Effect for Links */
.navbar-nav .nav-link:hover {
    color: #FFD700; /* Orange color when hovering */
    background-color: #333; /* Dark background on hover */
    border-radius: 5px; /* Rounded corners */
}

/* Active Link Style */
.nav-link.active {
    color: #FFD700 !important; /* Active link color */
    font-weight: bold;
    border-bottom: 3px solid #FF7043; /* Underline effect for active link */
}


/* Navbar Shrinks on Scroll */
.navbar.scrolled {
    background: #1e3c72 !important; /* Darker blue */
    padding: 10px 15px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.logo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}    

#back-to-top{
    display: none;
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 3%;
    bottom: 3%;
    position: fixed;
    font-size: 28px;
}   